<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebuy.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.ebuy.domain.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cid" jdbcType="CHAR" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
  </resultMap>
</mapper>